@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif, Arial, Inter, system-ui, Avenir, Helvetica;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}


#root {
  backdrop-filter: blur(24px);
}

body {
  margin: 0;
  background: url('https://as1.ftcdn.net/v2/jpg/02/98/36/64/1000_F_298366478_95ulqYSXZD0M1W1XmL5NttWqINXM31W3.jpg');
  background-size: contain;
  background-attachment: fixed;
}

* {
  outline: none !important;
}

.scroll-down-anim {
  animation: 1.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite alternate hover;
}

.notistack-SnackbarContainer {
  position: sticky;
  bottom: 10px;
  left: 10px;
}

.grow-animation {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: white;
  animation: 1s linear infinite grow;
}

@keyframes hover {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(50%);
  }
}

@keyframes grow {
  0% {
    opacity: 0.1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(4);
  }
}