@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif, Arial, Inter, system-ui, Avenir, Helvetica;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

#root{
  backdrop-filter: blur(24px);
}

body {
  margin: 0;
  /* background: radial-gradient(circle at 150% 150%, midnightblue, black); */
  background: url('https://as1.ftcdn.net/v2/jpg/02/98/36/64/1000_F_298366478_95ulqYSXZD0M1W1XmL5NttWqINXM31W3.jpg');
  background-size: contain;
}

.scroll-down-anim{
  animation: 1.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite alternate hover;
}

.grow-animation{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: white;
  animation: 1s linear infinite grow;
}

@keyframes hover {
  0%{
    transform: translateY(-50%);
  }
  100%{
    transform: translateY(50%);
  }
}
@keyframes grow {
  0%{
    opacity: 0.1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(4);
  }
}